.manualExpand .ag-icon-expanded {
  display: none !important;
}

.manualExpand .ag-group-value {
  padding-left: 16px !important;
}

.manualExpand .ag-icon-contracted {
  display: none !important;
}

.expandAll .ag-icon-expanded {
  display: none !important;
}

.expandAll .ag-group-value {
  padding-left: 16px !important;
}

.expandAll .ag-icon-contracted {
  display: none !important;
}

.expandAll + div {
  background-color: black;
  display: none !important;
}
